@mixin initial {
    transform: rotateZ(135deg);
    translate: 260px 403px 0px;
}

@keyframes double_frames {
    0% {
        @include initial;
    }
    8% {
        transform: rotateZ(135deg);
        translate: 260px 403px 70px;
    }
    16% {
        transform: rotateZ(90deg);
        translate: 430px 122px 70px;
    }
    25% {
        transform: rotateZ(90deg);
        translate: 430px 122px 0px;
    }
    33% {
        transform: rotateZ(90deg);
        translate: 430px 122px 70px;
    }
    41% {
        transform: rotateZ(-35deg);
        translate: -140px -370px 70px;
    }
    50% {
        transform: rotateZ(-35deg);
        translate: -140px -370px 0px;
    }
    58% {
        transform: rotateZ(-35deg);
        translate: -140px -370px 70px;
    }
    66% {
        transform: rotateZ(135deg);
        translate: -100px 400px 70px;
    }
    75% {
        transform: rotateZ(135deg);
        translate: -100px 400px 0px;
    }
    83% {
        transform: rotateZ(135deg);
        translate: -100px 400px 70px;
    }
    91% {
        transform: rotateZ(135deg);
        translate: 260px 403px 70px;
    }
    100% {
        @include initial;
    }
}

// first
// transform: rotateZ(135deg);
// translate: 260px 403px 0px;
// second
// transform: rotateZ(90deg);
// translate: 430px 122px 0px;
// third 
// transform: rotateZ(-35deg);
// translate: -140px -370px 0px;
// forth
// transform: rotateZ(135deg);
// translate: -100px 400px 0px;