@mixin initial {
    transform: rotateZ(0deg);
    translate: -160px 390px 0px;
}

@keyframes paralelogram_frames {
    0% {
        @include initial;
    }
    8% {
        transform: rotateZ(0deg);
        translate: -160px 390px -195px;
    }
    16% {
        transform: rotateZ(225deg) rotateX(180deg);
        translate: -443px 180px -195px;
    }
    25%{
        transform: rotateZ(225deg) rotateX(180deg);
        translate: -443px 180px 0px;
    }
    33% {
        transform: rotateZ(225deg) rotateX(180deg);
        translate: -443px 180px -195px;
    }
    41% {
        transform: rotateZ(-45deg);
        translate: -375px 215px -195px;
    }
    50% {
        transform: rotateZ(-45deg);
        translate: -375px 215px 0px;
    }
    58% {
        transform: rotateZ(-45deg);
        translate: -375px 215px -195px;
    }
    66% {
        transform: rotateZ(90deg) rotateX(180deg);
        translate: 280px 150px -195px;
    }
    75% {
        transform: rotateZ(90deg) rotateX(180deg);
        translate: 280px 150px 0px;
    }
    83% {
        transform: rotateZ(90deg) rotateX(180deg);
        translate: 280px 150px -195px;
    }
    91% {
        transform: rotateZ(0deg);
        translate: -160px 390px -195px;
    }
    100% {
        @include initial;
    }
}

// first
// transform: rotateZ(0deg);
// translate: 0px 390px 0px;
// second
// transform: rotateZ(225deg) rotateX(180deg);
// translate: -560px 65px 0px;
// third
// transform: rotateZ(-45deg);
// translate: -260px 110px 0px;
// forth
// transform: rotateZ(90deg) rotateX(180deg);
// translate: 280px 310px 0px;
