@mixin initial {
    transform: rotateZ(0deg);
    translate: 0px 228px 0px;
}

@keyframes triangle_second_frames {
    0% {
        @include initial;
    }
    8% {
        transform: rotateZ(0deg);
        translate: 0px 228px -320px;
    }
    16% {
        transform: rotateZ(135deg);
        translate: -210px 70px -320px;
    }
    25%{
        transform: rotateZ(135deg);
        translate: -210px 70px 0px;
    }
    33%{
        transform: rotateZ(135deg);
        translate: -210px 70px -320px;
    }
    41% {
        transform: rotateZ(135deg);
        translate: 25px -160px -320px;
    }
    50% {
        transform: rotateZ(135deg);
        translate: 25px -160px 0px;
    }
    58% {
        transform: rotateZ(135deg);
        translate: 25px -160px -320px;
    }   
    66% {
        transform: rotateZ(180deg);
        translate: -185px 570px -320px;
    }
    75% {
        transform: rotateZ(180deg);
        translate: -185px 570px 0px;
    }
    83% {
        transform: rotateZ(180deg);
        translate: -185px 570px -320px;
    }
    91% {
        transform: rotateZ(0deg);
        translate: 0px 228px -320px;
    }
    100% {
        @include initial;
    }
}

// first
// transform: rotateZ(0deg);
// translate: 0px 228px 0px;
// second
// transform: rotateZ(135deg);
// translate: -320px 70px 0px;
// third 
// transform: rotateZ(135deg);
// translate: 25px -160px 0px;
// forth
// transform: rotateZ(180deg);
// translate: -185px 570px 0px;