@mixin initial {
    transform: rotateZ(270deg);
    translate: 245px -14px 0px;
}

@keyframes triangle_first_frames {
    0% {
        @include initial;
    }
    8% {
        transform: rotateZ(270deg);
        translate: 245px -14px 210px;
    }
    16% {
        transform: rotateZ(0deg);
        translate: -620px 210px 210px;
    }
    25%{
        transform: rotateZ(0deg);
        translate: -620px 210px 0px;
    }
    33% {
        transform: rotateZ(0deg);
        translate: -620px 210px 210px;
    }
    41% {
        transform: rotateZ(135deg);
        translate: -490px 350px 210px;
    }
    50% {
        transform: rotateZ(135deg);
        translate: -490px 350px 0px;
    }
    58%{
        transform: rotateZ(135deg);
        translate: -490px 350px 210px;
    }
    66% {
        transform: rotateZ(90deg);
        translate: -100px 145px 210px;
    }
    75% {
        transform: rotateZ(90deg);
        translate: -100px 145px 0px;
    }
    83% {
        transform: rotateZ(90deg);
        translate: -100px 145px 210px;
    }
    91% {
        transform: rotateZ(270deg);
        translate: 245px -14px 210px;
    }
    100% {
        @include initial;
    }
}

// first
// transform: rotateZ(270deg);
// translate: 245px -14px 0px;
// second
// transform: rotateZ(0deg);
// translate: -620px 210px 0px;
// third 
// transform: rotateZ(135deg);
// translate: -490px 350px 0px;
// forth
// transform: rotateZ(90deg);
// translate: -100px 145px 0px;