<!-- Page Main -->
<main class="pt-32 w-screen overflow-hidden"
    [style]="{ 'background-color' : theme.background() }">

    <app-header/>

    <app-hero/>

    <app-carousel/>

    <!-- Parallax Background -->
    <section
        class="flex flex-col w-full h-[500px] bg-cover bg-fixed bg-center flex justify-center items-center"
        style="
            background-image: url('https://w.wallhaven.cc/full/6o/wallhaven-6o13ll.png');
        "
        [style.color]="theme.background()">
        <h1 class="text-5xl font-semibold mt-20 mb-10 text-center">
            Sonic The Hedgehog
        </h1>

        <span class="text-center font-bold my-20">
            <a
                href="https://sonicthehedgehog.com/es-es/author/sonic-team/"
                target="_blank"
                class="opacity-90 hover:opacity-100">
                Sonic Team
            </a>

            <hr class="my-4" />

            <a
                href="https://sonic.fandom.com/es/wiki/Sonic_the_Hedgehog"
                target="_blank"
                class="opacity-90 hover:opacity-100">
                Sonic Wiki
            </a>

            <hr class="my-4" />

            <p>
                <a
                    href="https://github.com/RichardAgain"
                    target="_blank"
                    class="opacity-90 hover:opacity-100">
                    RichardAgain
                </a>
                |
                <a
                    href="https://github.com/Spotito"
                    target="_blank"
                    class="opacity-90 hover:opacity-100">
                    Spotito
                </a>
            </p>
        </span>
    </section>

    <section class="p-20 space-y-8">
        <app-title class="text-center my-20">A Look at Sonic The Hedgehog</app-title>

        <app-sub-title class="text-center">His World</app-sub-title><br>

        <div class="flex">


            <div class="w-2/3">
                <app-text>
                    Since he entered the battle against injustice, Sonic has been the winner of
                    peace and is recognized on Earth for having saved it countless times. During
                    his many adventures, Sonic has traveled from the ends of the world to the
                    ends of space and time, facing countless tests that have tested him to the
                    max, earning him many titles, allies, and the scorn of several enemies.
                    Known for his legendary arrogant, calm attitude and somewhat short temper,
                    but with a strong sense of justice, compassion and love of freedom and
                    adventure, Sonic uses his abilities to protect the innocents of his world
                    and the world beyond. beyond the forces of evil, especially his archenemy,
                    Dr. Eggman, and his empire.
                </app-text>
                <app-text>
                    Sonic is described as being "equal to the wind"; a relaxed person, with a
                    free and adventurous spirit. He considers freedom to be part of everything,
                    living his life his way without obeying the standards presented to him and
                    what he enjoys most is traveling the world, never thinking twice about what
                    people say or think to him. Hardened with a strong passion for life, he is
                    always looking for new experiences, making his life endless adventures. Due
                    to his need to be free, Sonic dislikes being locked up without being able to
                    move, such as in Sonic Adventure 2 where he could not stay calm while locked
                    in a small prison. Likewise, he tends to be too restless and hates waiting
                    too long, a detail that is represented in his idle animations.
                </app-text>

                <app-text>
                    Although it is unknown if he has received any training, Sonic's years of
                    battles have made him a skilled and powerful fighter. He has defeated giant
                    robots, demons, and gods by himself, faced and bested those with far more
                    combat experience, and even defeated people who are equal in their
                    abilities. It has also been noted that Sonic is constantly getting stronger;
                    during the Time Eater Incident, Sonic was able to defeat the Egg
                    Emperor/Perfect Chaos on his own, when he previously required additional
                    power. Sonic even told Infinite when defending against the latter compared
                    to the previous time they fought that he becomes more powerful every second.
                    It's safe to say that Sonic is much more powerful than he lets on, but his
                    overconfidence and reluctance to go all out usually prevents him from
                    fighting at full strength. His victories over Emerl in Gizoid's full
                    potential and Perfect Chaos in his base form are prime examples of Sonic's
                    true power. Regardless of his blocks, Sonic is among the most powerful
                    characters in the series.
                </app-text>
        
                <app-text>
                    Sonic's greatest strength is his super speed, an innate talent possessed by
                    members of the hedgehog species. Sonic, however, has proven himself in a
                    class of his own with his speed, having been credited as "the fastest being
                    alive" and even "the fastest being in the universe." It has the ability to
                    instantly accelerate to the speed of sound and run at speeds much greater
                    than the Mach 1, which is at the blistering speed of approximately 768 mph,
                    and it can run backwards as well as it can go forward. Because of that
                    speed, he can climb vertical surfaces and ceilings, run over water, outrun
                    lasers, and even make the ground explode in his wake. Even then, Sonic can
                    push his speed even further. By accelerating in place, you can take off at
                    turbo speeds in an instant. He can also envelop himself in a blue energy
                    field that allows him to accelerate beyond the sound barrier on the ground
                    and in the air for a short time, allowing him to not only directly pass
                    through enemies and obstacles like a live projectile, but also fly immense
                    distances through the air. Using certain techniques, he can even reach the
                    speed of light momentarily.
                </app-text>
            </div>

            <div class="w-1/3 h-full lex justify-center items-center">
                <img class="my-auto" src="https://i0.wp.com/eltallerdehector.com/wp-content/uploads/2022/09/Sonic-PNG.png?resize=768%2C768&ssl=1" alt="">
            </div>
        </div>

    <app-video-container />

    </section>
    <!-- Footer -->
    <footer class="pt-10 sm:mt-10 pt-10 w-full" [style]="{ 'background-color': theme.secondary(), 'color': theme.background() }">
        <div class="max-w-6xl m-auto flex flex-wrap justify-left">
            <!-- Col-1 -->
            <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
                <!-- Col Title -->
                <div class="text-xs uppercase text-gray-400 font-medium mb-6">
                    Getting Started
                </div>

                <!-- Links -->
                <a
                    href="#"
                    class="my-3 block opacity-85 hover:opacity-100 font-medium duration-700">
                    Installation
                </a>
                <a
                    href="#"
                    class="my-3 block opacity-85 hover:opacity-100 font-medium duration-700">
                    Release Notes
                </a>
                <a
                    href="#"
                    class="my-3 block opacity-85 hover:opacity-100 font-medium duration-700">
                    Upgrade Guide
                </a>
                <a
                    href="#"
                    class="my-3 block opacity-85 hover:opacity-100 font-medium duration-700">
                    Using with Preprocessors
                </a>
                <a
                    href="#"
                    class="my-3 block opacity-85 hover:opacity-100 font-medium duration-700">
                    Optimizing for Production
                </a>
                <a
                    href="#"
                    class="my-3 block opacity-85 hover:opacity-100 font-medium duration-700">
                    Browser Support
                </a>
                <a
                    href="#"
                    class="my-3 block opacity-85 hover:opacity-100 font-medium duration-700">
                    IntelliSense
                </a>
            </div>

            <!-- Col-2 -->
            <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
                <!-- Col Title -->
                <div class="text-xs uppercase text-gray-400 font-medium mb-6">
                    Core Concepts
                </div>

                <!-- Links -->
                <a
                    href="#"
                    class="my-3 block opacity-85 hover:opacity-100 font-medium duration-700">
                    Utility-First
                </a>
                <a
                    href="#"
                    class="my-3 block opacity-85 hover:opacity-100 font-medium duration-700">
                    Responsive Design
                </a>
                <a
                    href="#"
                    class="my-3 block opacity-85 hover:opacity-100 font-medium duration-700">
                    Hover, Focus, & Other States
                </a>
                <a
                    href="#"
                    class="my-3 block opacity-85 hover:opacity-100 font-medium duration-700">
                    Dark Mode
                </a>
                <a
                    href="#"
                    class="my-3 block opacity-85 hover:opacity-100 font-medium duration-700">
                    Adding Base Styles
                </a>
                <a
                    href="#"
                    class="my-3 block opacity-85 hover:opacity-100 font-medium duration-700">
                    Extracting Components
                </a>
                <a
                    href="#"
                    class="my-3 block opacity-85 hover:opacity-100 font-medium duration-700">
                    Adding New Utilities
                </a>
            </div>

            <!-- Col-3 -->
            <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
                <!-- Col Title -->
                <div class="text-xs uppercase text-gray-400 font-medium mb-6">
                    Customization
                </div>

                <!-- Links -->
                <a
                    href="#"
                    class="my-3 block opacity-85 hover:opacity-100 font-medium duration-700">
                    Configuration
                </a>
                <a
                    href="#"
                    class="my-3 block opacity-85 hover:opacity-100 font-medium duration-700">
                    Theme Configuration
                </a>
                <a
                    href="#"
                    class="my-3 block opacity-85 hover:opacity-100 font-medium duration-700">
                    Breakpoints
                </a>
                <a
                    href="#"
                    class="my-3 block opacity-85 hover:opacity-100 font-medium duration-700">
                    Customizing Colors
                </a>
                <a
                    href="#"
                    class="my-3 block opacity-85 hover:opacity-100 font-medium duration-700">
                    Customizing Spacing
                </a>
                <a
                    href="#"
                    class="my-3 block opacity-85 hover:opacity-100 font-medium duration-700">
                    Configuring Variants
                </a>
                <a
                    href="#"
                    class="my-3 block opacity-85 hover:opacity-100 font-medium duration-700">
                    Plugins
                </a>
            </div>

            <!-- Col-3 -->
            <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
                <!-- Col Title -->
                <div class="text-xs uppercase text-gray-400 font-medium mb-6">
                    Community
                </div>

                <!-- Links -->
                <a
                    href="https://github.com/RichardAgain/express-auth"
                    class="my-3 block opacity-85 hover:opacity-100 font-medium duration-700">
                    GitHub
                </a>
                <a
                    href="#"
                    class="my-3 block opacity-85 hover:opacity-100 font-medium duration-700">
                    Discord
                </a>
                <a
                    href="#"
                    class="my-3 block opacity-85 hover:opacity-100 font-medium duration-700">
                    Twitter
                </a>
                <a
                    href="#"
                    class="my-3 block opacity-85 hover:opacity-100 font-medium duration-700">
                    YouTube
                </a>
            </div>
        </div>

        <!-- Copyright Bar -->
        <div class="pt-2">
            <div
                class="flex pb-5 px-3 m-auto pt-5 border-t border-gray-500 text-gray-400 flex-col md:flex-row max-w-6xl">
                <div class="mt-2">
                    <div [innerHTML]="theme.wysiwyg()"></div>

                </div>

                <!-- Required Unicons (if you want) -->
                <div class="md:flex-auto md:flex-row-reverse mt-2 flex-row flex">
                    <a href="#" class="w-6 mx-1">
                        <i class="uil uil-facebook-f"></i>
                    </a>
                    <a href="#" class="w-6 mx-1">
                        <i class="uil uil-twitter-alt"></i>
                    </a>
                    <a href="#" class="w-6 mx-1">
                        <i class="uil uil-youtube"></i>
                    </a>
                    <a href="#" class="w-6 mx-1">
                        <i class="uil uil-linkedin"></i>
                    </a>
                    <a href="#" class="w-6 mx-1">
                        <i class="uil uil-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>

</main>

