<app-layout>
    <div [innerHTML]="_theme.wysiwyg()">
        Terms and Conditions
        Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern [Your Company Name]'s relationship with you in relation to this website.
        The term '[Your Company Name]' or 'us' or 'we' refers to the owner of the website. The term 'you' refers to the user or viewer of our website.
        Use of the Website
        The content of the pages of this website is for your general information and use only. It is subject to change without notice.
        Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.
        Intellectual Property
        This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.
        Governing Law
        Your use of this website and any dispute arising out of such use of the website is subject to the laws of [Your Country].
    </div>
</app-layout>
