<div class="mt-12">
  <video id="video" controls preload="metadata" class="m-auto shadow-xl" [style.border]="'5px solid ' + theme.primary()">
    <source [src]="'http://localhost:3000/videos/' + theme.videoPath()" type="video/mp4" />
    <!-- <source src="./video.mp4" type="video/mp4" /> -->
    <!-- <source src="video/sintel-short.webm" type="video/webm" /> -->
    <track
      label="English"
      kind="captions"
      srclang="en"
      [src]="'localhost:3000/captions/' + theme.videoCaptionsPath() + '.vtt'"
      default
    />
  </video>
</div>

<p class="text-center mt-8" [style.color]="theme.accent()">
    A test of his speed
</p>
