<app-layout>
  <form class="form" [formGroup]="profileForm">
    <div class="formInput">
      <label for="username">username: {{ user }} </label>
      <input id="username" type="text" formControlName="username" />
    </div>

    <div formGroupName="name">
      <label for="first">First Name: </label>
      <input id="first" type="text" formControlName="first" />

      <label for="last">First Name: </label>
      <input id="last" type="text" formControlName="last" />
    </div>

    <label for="email">Email: </label>
    <input id="email" type="email" formControlName="email" />

    <label for="phone">Phone: </label>
    <input id="phone" type="tel" formControlName="phone" />

    

    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </form>

  <app-leafet-map />

</app-layout>
