@use '../../../styles.scss' as *;

.container {
    width: 50rem;
    margin: auto;
}

.container-group {
    display: grid;
    grid-template-columns: 1fr 2fr;

    .input-group {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
}

h3 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.KLMResults {
    font-family: monospace;
    color: white;
    background-color: hsl(0, 0%, 21%);
    
    padding: 2rem;
    border-radius: 0.5rem;
}

.formInput {

    input {
        width: 100%;
        padding: 0.5rem;
        border: 0.1rem solid black;
    }

    label {
        display: block;
        font-weight: bold;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
}

.form {
    display: flex;
    flex-direction: column;
}

.submit {
    @include button-primary();
    width: 16rem;
}