<div class="perspective-container inline-block ml-[20%]">
    <!-- <div class="triangle-container-first">
        <div class="triangle" [style.border-color]="'transparent transparent ' + theme.primary() +  ' transparent'">
            holaa</div>
        <div class="triangle-back absolute top-0" [style.border-color]="'transparent transparent ' + theme.primary() +  ' transparent'">
            holaa </div>
        <div class="absolute edge1" [style.background-color]="theme.secondary()"></div>
        <div class="absolute edge2" [style.background-color]="theme.accent()"></div>
        <div class="absolute edge3" [style.background-color]="theme.secondary()"></div>
    </div>
    <div class="triangle-container-second">
        <div class="triangle" [style.border-color]="'transparent transparent ' + theme.primary() +  ' transparent'">
            holaa</div>
        <div class="triangle-back absolute top-0" [style.border-color]="'transparent transparent ' + theme.primary() +  ' transparent'">
            holaa </div>
        <div class="absolute edge1" [style.background-color]="theme.secondary()"></div>
        <div class="absolute edge2" [style.background-color]="theme.accent()"></div>
        <div class="absolute edge3" [style.background-color]="theme.secondary()"></div>
    </div> -->

    <!-- <div class="cube-container">
        <div class="cube" [style.background-color]="theme.secondary()"></div>

        <div class="absolute edge1" [style.background-color]="theme.accent()"></div>
        <div class="absolute edge2" [style.background-color]="theme.accent()"></div>
        <div class="absolute edge3" [style.background-color]="theme.accent()"></div>
        <div class="absolute edge4" [style.background-color]="theme.accent()"></div>
    </div> -->
    <div class="paralelogram-container">
        <div class="paralelogram-part p-first">
            <div class="triangle" [style.border-color]="'transparent transparent ' + theme.primary() +  ' transparent'">
                holaa</div>
            <div class="triangle-back absolute top-0" [style.border-color]="'transparent transparent ' + theme.primary() +  ' transparent'">
                holaa </div>
            <div class="absolute edge1" [style.background-color]="theme.secondary()"></div>
            <div class="absolute edge2" [style.background-color]="theme.accent()"></div>
            <div class="absolute edge3" [style.background-color]="theme.secondary()"></div>
        </div>
        <div class="paralelogram-part p-second">
            <div class="triangle" [style.border-color]="'transparent transparent ' + theme.primary() +  ' transparent'">
                holaa</div>
            <div class="triangle-back absolute top-0" [style.border-color]="'transparent transparent ' + theme.primary() +  ' transparent'">
                holaa </div>
            <div class="absolute edge1" [style.background-color]="theme.secondary()"></div>
            <div class="absolute edge2" [style.background-color]="theme.accent()"></div>
            <div class="absolute edge3" [style.background-color]="theme.secondary()"></div>
        </div>
    </div>
</div>