@use './styles/triangle_partial.scss' as triangle;
@use './styles/cube_partial.scss' as cube;
@use './styles/gram_partial.scss' as paralelogram;
@use './styles/double_partial.scss' as double;
@use './styles/large_partial.scss' as large;

@use './animations/large_first.scss';
@use './animations/large_second.scss';
@use './animations/triangle_second.scss';
@use './animations/double_frames.scss';
@use './animations/cube_frames.scss';
@use './animations/triangle_first.scss';
@use './animations/gram_frames.scss';

$duration: 20s;

@mixin container {
  transform-style: preserve-3d;
  display: inline-block;
  position: absolute;
}

.triangle-container-first {
  @include container;
  @include triangle.triangle-container;
  animation: triangle_first_frames $duration infinite;
}

.triangle-container-second {
  @include container;
  @include triangle.triangle-container;
  animation: triangle_second_frames $duration infinite;
}

.cube-container {
  // animation: girar 5s;
  @include container;
  @include cube.cube-container;
  animation: cube_frames $duration infinite;
}

.paralelogram-container {
  @include container;
  @include paralelogram.paralelogram-container;
  animation: paralelogram_frames $duration infinite;

  .paralelogram-part {
    display: inline-block;
    @include triangle.triangle-container;
  }
}

.double-container {
  @include container;
  @include double.double-container;
  @include triangle.triangle-container;
  scale: 1.41;
  animation: double_frames $duration infinite;
}

.large-container-first {
  @include container;
  @include large.large-container;
  @include triangle.triangle-container;
  scale: 2;
  animation: large_first_animation $duration infinite;
}

.large-container-second {
  @include container;
  @include large.large-container;
  @include triangle.triangle-container;
  scale: 2;
  animation: large_second_animation $duration infinite;
}

.perspective-container {
  height: 400px;
  transform-style: preserve-3d;
  perspective: 10000px;
  scale: 0.5;

  // rotate: y 90deg;

  animation: left-right 30s ease-in-out infinite;
}

@keyframes left-right {
  0% {
    transform: rotateY(-45deg) rotateX(20deg);
  }
  25% {
    transform: rotateY(45deg) rotateX(20deg);
  }
  50% {
    transform: rotateY(-45deg) rotateX(-20deg);
  }
  75% {
    transform: rotateY(45deg) rotateX(-20deg);
  }
  100% {
    transform: rotateY(-45deg) rotateX(20deg);
  }
}

@keyframes girar {
    0% {
      transform: none;
    }
    33% {
      transform: rotateX(360deg);
    }
    66% {
      transform: rotateX(360deg) rotateY(360deg);
    }
    100% {
      transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
  }
