<app-layout>
  <pre>
    <!-- {{ theme.options() | json }} -->
  </pre>

  <div style="display: flex; justify-content: center">
    <div style="margin: 10px; border: 1px solid #ccc; padding: 5px">
      <h3>Primary</h3>
      <color-chrome
        [disableAlpha]="true"
        [color]="theme.primary()"
        (onChangeComplete)="theme.primary.set($event.color.hex)"
      >
      </color-chrome>
    </div>
    <div style="margin: 10px; border: 1px solid #ccc; padding: 5px">
      <h3>Secondary</h3>
      <color-chrome
        [disableAlpha]="true"
        [color]="theme.secondary()"
        (onChangeComplete)="theme.secondary.set($event.color.hex)"
      >
      </color-chrome>
    </div>
    <div style="margin: 10px; border: 1px solid #ccc; padding: 5px">
      <h3>Accent</h3>
      <color-chrome
        [disableAlpha]="true"
        [color]="theme.accent()"
        (onChangeComplete)="theme.accent.set($event.color.hex)"
      >
      </color-chrome>
    </div>
    <div style="margin: 10px; border: 1px solid #ccc; padding: 5px">
      <h3>Text</h3>
      <color-chrome
        [disableAlpha]="true"
        [color]="theme.text()"
        (onChangeComplete)="theme.text.set($event.color.hex)"
      >
      </color-chrome>
    </div>
    <div style="margin: 10px; border: 1px solid #ccc; padding: 5px">
      <h3>Background</h3>
      <color-chrome
        [disableAlpha]="true"
        [color]="theme.background()"
        (onChangeComplete)="theme.background.set($event.color.hex)"
      >
      </color-chrome>
    </div>
  </div>

  <ngx-slider
    [(value)]="textSize"
    [options]="{ floor: 8, ceil: 32 }"
    (userChange)="theme.textSize.set(textSize + 'px')"
  ></ngx-slider>
  <ngx-slider
    [(value)]="subSize"
    [options]="{ floor: 16, ceil: 40 }"
    (userChange)="theme.subSize.set(subSize + 'px')"
  ></ngx-slider>
  <ngx-slider
    [(value)]="titleSize"
    [options]="{ floor: 24, ceil: 48 }"
    (userChange)="theme.titleSize.set(titleSize + 'px')"
  ></ngx-slider>

  <button (click)="saveTheme()">SAVE</button>

  <p [style.font-size]="theme.titleSize()">
    THIS IS A TITLE
  </p>

  <p [style.font-size]="theme.subSize()">
    This is a Subtitle
  </p>

  <p [style.font-size]="theme.textSize()" [style.color]="theme.text()" style="font-family: 'Customfont';">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi dicta quo
    incidunt a aspernatur necessitatibus iste recusandae assumenda ullam dolore,
    eveniet id quidem eius asperiores tempore molestias. Similique, nostrum nam.
  </p>

  <div style="margin: 10px; border: 1px solid #ccc; padding: 5px">
    <h3>Upload Font</h3>
    <input type="file" accept=".woff,.ttf" (change)="onFileSelected($event)" />
  </div>
</app-layout>
