<div class="container">
  <form [formGroup]="userForm" (ngSubmit)="submit()" class="loginForm">
    <h2>Login</h2>

    <div class="formInput">
      <label for="username">Username: </label>
      <input id="username" type="text" formControlName="username" />
    </div>

    <div class="formInput">
      <label for="password">Password: </label>
      <input id="password" type="text" formControlName="password" />
    </div>

    <button type="submit" [disabled]="!userForm.valid">Log in</button>
  </form>
</div>
