/* You can add global styles to this file, and also import other style files */
@use 'sass:color';

@tailwind base;
@tailwind components;
@tailwind utilities;

$font-stack: Helvetica, sans-serif;

$primary-color: hsla(257, 100%, 59%, 0.837);
$secundary: #333;

body {
    font: 100% $font-stack;
    margin: 0;
}

@mixin button-primary() {
    font-size: 1.2em;
    color: #fff;
    background-color: $primary-color;
    border: 0.1rem solid $primary-color;
    margin: 0.1rem;
    padding: 0.6rem 1rem;
    border-radius: 1rem;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background-color: darken($primary-color, 10%);
        border-color: #0056b3;
    }
  }

@mixin button-outline() {
    @include button-primary();
    color: $primary-color;
    background-color: transparent;

    &:hover {
        background-color: $primary-color;
        border-color: $primary-color;
        color: white;
    }
}

@mixin form-input () {
    input {
        width: 100%;
        padding: 0.5rem;
        border: 0.1rem solid hsl(0, 0%, 49%);
    }

    label {
        display: block;
        font-weight: bold;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
}