<footer class="py-2 mt-8">
    <div class="flex w-full flex-wrap items-center justify-center gap-6 px-2 md:justify-between">
      <div class="block antialiased font-sans leading-normal font-normal text-inherit" [innerHTML]="theme.wysiwyg()" ></div>
      <ul class="flex items-center gap-4 right-0">
        <li>
          <a [href]="'http://localhost:3000/documents/' + theme.userManualPath()" target="_blank" class="block antialiased font-sans leading-normal py-0.5 px-1 font-normal text-inherit transition-colors hover:text-blue-500">User Manual</a>
        </li>
        <li>
          <a href="https://sonicthehedgehog.com/es-es/author/sonic-team/" target="_blank" class="block antialiased font-sans leading-normal py-0.5 px-1 font-normal text-inherit transition-colors hover:text-blue-500">Sonic Team</a>
        </li>
        <li>
          <a href="https://el-mundo-de-cars.fandom.com/es/wiki/Cars" target="_blank" class="block antialiased font-sans leading-normal py-0.5 px-1 font-normal text-inherit transition-colors hover:text-blue-500">About Us</a>
        </li>
        <li>
          <a href="https://sonic.fandom.com/es/wiki/Shadow_the_Hedgehog" target="_blank" class="block antialiased font-sans leading-normal py-0.5 px-1 font-normal text-inherit transition-colors hover:text-blue-500">Blog</a>
        </li>
        <li>
          <a href="https://angrybirds.fandom.com/wiki/Red" target="_blank" class="block antialiased font-sans leading-normal py-0.5 px-1 font-normal text-inherit transition-colors hover:text-blue-500">License</a>
        </li>
      </ul>
    </div>
  </footer>