@use '../../../styles.scss' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 5rem;

    background-color: #333;
    color: #fff;;
    transition: ease-in 0.3s;

    h2 {
        color: #fff;
        display: inline-block;
        margin: 0, 0 ,0;
        &:hover {
            text-decoration: underline;
        }
    }

    a {
        text-decoration: none;
        cursor: pointer;
        font-size: 1.2em;
    }
}

.title {
    font-family: monospace;
    font-size: 2em;
    text-shadow: 0.1rem 0.1rem 0 $primary-color;
}

.login {
    @include button-primary ()
}

.register {
    @include button-outline ()
}

.content {
    padding: 3rem;
    transition: ease-in-out 0.3s;
}
